.problem-child,
.problem-inner,
.problem-item {
  position: absolute;
  top: -149px;
  left: -48px;
  width: 1572.5px;
  height: 513.3px;
}
.problem-inner,
.problem-item {
  top: -60px;
}
.problem-inner {
  top: 939px;
  left: -11px;
  background-color: lavender;
  width: 1463px;
  height: 81px;
}
.ehc-2-icon3 {
  position: absolute;
  top: 939px;
  left: calc(50% - 84px);
  width: 168px;
  height: 79px;
  object-fit: cover;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lavender;
  width: 1440px;
  height: 74px;
}
.home8 {
  position: relative;
  letter-spacing: 0.1em;
}
.home7 {
  position: absolute;
  top: 16px;
  left: 172px;
  border-radius: var(--br-xl);
  width: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.sign-up10,
.sign-up11 {
  position: relative;
  cursor: pointer;
}
.sign-up10 {
  position: absolute;
  top: 16px;
  left: 1210px;
  border-radius: var(--br-xl);
  width: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.log-in11 {
  position: relative;
}
.log-in10 {
  position: absolute;
  top: 16px;
  left: 1299px;
  border-radius: var(--br-xl);
  width: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.ehc-1-icon3 {
  position: absolute;
  top: 1px;
  left: 52px;
  width: 113px;
  height: 53px;
  object-fit: cover;
}
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 74px;
  color: var(--color-lightslategray);
}
.choose-your-problem,
.welcome-to-electrahelp {
  position: absolute;
  top: 230px;
  left: calc(50% - 35%  );
  font-size: 96px ;
  font-weight: 300;
  display: inline-block;
  width: 1091px;
  height: 146px;
}
.welcome-to-electrahelp {
  top: 163px;
  left: calc(50% - 300px);
  font-size: 48px;
  width: 720px;
  height: 67px;
}
.problem-child1,
.problem-child2 {
  position: absolute;
  top: 442px;
  left: calc(50% - 424px);
  border-radius: var(--br-31xl);
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.problem-child2 {
  left: calc(50% + 95px);
}
.hardware1 {
  color: white;
  width: 102px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.hardware,
.software {
  position: absolute;
  top: 807px;
  left: calc(50% + 213px);
  border-radius: 20px;
  background: linear-gradient(180deg, #1b244d, #2e48bd 90%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  width: 114px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
  color: white;
}
.software {
  left: calc(50% - 306px);
}
.problem {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1020px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
