body{
  font-family: Arial, sans-serif;
}
.header {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #e0e0e0;
  
}
.log-in-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Header styles */
.headd {
  padding-top: 1%;
  padding-left: 1%;
  align-items: start;

}

/* Logo styles */
.pic1 {
  position: absolute;
  width: 150px;
}
.homebutton
{
  color: #656B79;;
  position: absolute;
top:5%;
  margin-left: 12%;
  font-size: 28px;
  text-decoration: none;
}
.homebutton:hover {
  color: #9dbaff;
}
.userwelcome {
  color: #000000;
  font-size: 20px;
  position: absolute;
}
.user {

  color: black;
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 61px;
  position: absolute;
  right: 18%;
  top: 1%;

}
.logout {position: absolute;
  color: #656B79;
  top:5%;
  font-weight: 400;
  font-size: 30px;
  line-height: 61px;
  position: absolute;
  right: 110px;
  text-decoration: none;
}

.logout:hover {
  color: #9dbaff;
}

.title {
  position: absolute;
  width: 197px;
  height: 93px;
  left: 200px;
  top: 30px;
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 93px;
  color: #FFFFFF;
}

.icon {
  position: absolute;
  width: 112px;
  height: 112px;
  left: -110px;
  top: 30px;
  background: url(icon);
}

.signbtn {
  color: white;
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 61px;
  position: absolute;
  background: #656B79;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  cursor: pointer;
  width: 230px;
  height: 70px;
  right: 110px;
  text-align: center;
  top: 70px;
}

.user {

  color: black;
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 61px;
  position: absolute;
  right: 18%;
  top: 1%;

}

.signbtn:hover {
  text-align: center;
  color: #656B79;
  border: 1px solid rgba(255, 255, 255, 0.678);
  background: rgba(255, 255, 255, 0.678);
}

.midtext {
  position: absolute;

  left: 45%;

  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #000000;
  text-align: center;
  margin-top: 10%;

}

.ticket-grid {
  position: absolute;
  margin: 25%;
  margin-top: 20%;
  width: 50%;
}

.ticket-item {
  border: 1px solid #ccc;
  padding: 10px;
  
  margin-bottom: 20px;
  border-radius: 10px;
  background: #E9E5FF;
  /* Add some spacing between the items */
}

.Viewbutton
{
  padding: 10px;
  border: #000000;
  border-radius: 10px;
  background-color: #9dbaff;
  text-decoration: none;
  position: absolute;
  left: 70%;
  margin-top: -6%;
  color: rgb(255, 255, 255);
}
.Viewbutton:hover
{
  background-color: #4a597b;
}
.Viewbutton2 {
  padding: 10px;
  border: #000000;
  border-radius: 10px;
  background-color: #9dbaff;
  text-decoration: none;
  position: absolute;
  left: 80%;
  margin-top: -6%;
  color: rgb(255, 255, 255);
}

.Viewbutton2.closed {
  color: white;
  background-color: red;
  border-color: red;
}

.Viewbutton2.open {
  color: white;
  background-color: green;
  border-color: green;
}