<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'ff/home3.css' %}">
  </head>
  <body>
    <div class="home">
      <img class="home-child" alt="" src="{% static 'ff/vector-4.svg' %}" />

      <img class="home-item" alt="" src="{% static 'ff/bbbbackground.png' %}" />

      <img
        class="image-photoroompng-photoroom-icon"
        alt=""
        src="{% static 'ff/ely fo2.png' %}"
      />

      <!-- <img class="image-1-icon" alt="" src="{% static 'ff/image-1@2x.png' %}" /> -->

      <div class="electrahelp-center">ElectraHelp Center</div>
      <div class="we-are-here-container">
        <p class="we-are-here">we are here to help you</p>
      </div>
      <div class="we-create-that-container">
        <p class="we-are-here">
          we create that system to help you to find a solution for your problem
          as fast as we can.
        </p>
        <p class="we-are-here">&nbsp;</p>
      </div>
      <div class="chatbot" id="chatBOTContainer">
        <a class="sign-up" href="{% url 'chatbot'%}">ChatBOT</a>
      </div>
      <div class="sign-up2" id="signUp2Container">
        <a class="sign-up" href="{% url 'register'%}">sign up</a>
      </div>
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="frame-item"></div>
        <div class="frame-inner"></div>
        <img class="feedback-icon" alt="" src="{% static 'ff/Feedback.png' %}" />

        <img class="agents-icon" alt="" src="{% static 'ff/Agents.png' %}" />

        <img class="frame-icon" alt="" src="{% static 'ff/Statistics.png' %}" />

        <div class="feedback">Feedback</div>
        <div class="we-take-your">We take your feedback to improve.</div>
        <div class="we-teach-our">
          We teach our agents so they have the ability to help you
        </div>
        <div class="we-always-make">
          We always make statistics to enhancement our system
        </div>
        <div class="agents">Agents</div>
        <div class="statistics">Statistics</div>
      </div>
      <img
        class="image-photoroompng-photoroom-icon1"
        alt=""
        src="{% static 'ff/ely fe elnos.png' %}"
      />

      <div class="tracking-and-analytics">Tracking And Analytics</div>
      <div class="we-track-all">
        we track all tickets and collect all important data that we need and
        analytic it to get new consequences to improve our services
      </div>
      <div class="contact-us" id="contactUsContainer">
        <a class="contact-us1" href="{% url 'feedback'%}">Contact Us</a>
      </div>
      <div class="home-inner"></div>
      <div class="rectangle-div"></div>
      <div class="why-ehc">
        <p class="we-are-here">Why EHC?</p>
      </div>
      <div class="track-prioritize-and">
        Track, prioritize, and assign tickets, and automate resolution processes
        to drive efficiency.
      </div>
      <div class="home-child1"></div>
      <div class="home-child2"></div>
      <div class="home-child3"></div>
      <img class="rectangle-icon" alt="" src="{% static 'ff/online.jpeg' %}" />

      <img class="home-child4" alt="" src="{% static 'ff/access-anywhere.png' %}" />

      <img class="home-child5" alt="" src="{% static 'ff/Why-web.png' %}" />

      <div class="online">online</div>
      <div class="access-anywhere">access anywhere</div>
      <div class="why-web">Why web ?</div>
      <div class="all-what-you">
        All what you need know one click and let us take the job
      </div>
      <div class="if-you-have">
        If you have any problem anywhere just open the website
      </div>
      <div class="a-total-of">
        A total of 5 billion people around the world use the internet today
      </div>
      <div class="how-faqs-can">How FAQs Can Help You?</div>
      <div class="have-any-question">Have any question you can use ChatBot</div>
      <div class="faqs-enable-you">
        FAQs enable you to deal with specific queries that your customers have
        about your business. They also represent another way to reach out and
        connect with your target audience. Therefore, it is one of the most
        important elements of your website strategy
      </div>
      <div class="if-you-have1">if you have any question</div>
      <img
        class="image-photoroompng-photoroom-icon2"
        alt=""
        src="{% static 'ff/ely taht.png' %}"
      />

      <div class="home-child6"></div>
      <img class="ehc-2-icon" alt="" src="{% static 'ff/ehc.png' %}" />

      <div class="header">
        <div class="header-child"></div>
        <img class="ehc-1-icon" alt="" src="{% static 'ff/ehc.png' %}" />

        <div class="home1">
          <a class="home2" href="#">HOME</a>
        
        </div>
        <div class="sign-up1">
          <a class="sign-up3" id="signUpText" href="{% url 'register'%}">sign up</a>
        </div>
        <div class="log-in" id="logInContainer">
          <a class="log-in1" href="{% url 'login'%}">log in</a>
        </div>
      </div>
    </div>
  </body>
</html>
