<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'ff/global.css' %}" />
    <link rel="stylesheet" href="{% static 'ff/package.css' %}" />
  </head>
  <body>
    <div class="package">
      <div class="package-inner">
        <img class="frame-child8" alt="" src="{% static 'ff/public/rectangle-20@2x.png' %}" />
      </div>
      <img class="package-child" alt="" src="{% static 'ff/public/vector-4.svg' %}" />

      <img class="package-item" alt="" src="{% static 'ff/bbbbackground.png' %}" />

      <div class="package-child1"></div>
      <img class="ehc-2-icon6" alt="" src="{% static 'ff/ehc.png' %}" />

      <div class="rectangle-parent4">
        <div class="group-child4"></div>
        <div class="home15" id="homeContainer">
          <b class="home16">HOME</b>
        </div>
        <div class="sign-up18" id="signUpContainer">
          <b class="sign-up19" id="signUpText">sign up</b>
        </div>
        <div class="log-in18" id="logInContainer">
          <b class="log-in19" data-scroll-to="logInText">log in</b>
        </div>
        <img class="ehc-1-icon7" alt="" src="{% static 'ff/ehc.png' %}" />
      </div>
      <img class="pay-2-icon" alt="" src="{% static 'ff/pay.png' %}" />

      <div class="start-trial-wrapper" id="frameContainer1">
        <div class="start-trial">Start Trial</div>
      </div>
      <div class="start-trial-container" id="frameContainer2">
        <div class="start-trial">Start Trial</div>
      </div>
      <div class="start-trial-frame" id="frameContainer3">
        <div class="start-trial">Start Trial</div>
      </div>
      <div class="choose-your-package">Choose your package</div>
    </div>

    <script>
      // Your JavaScript code here
    </script>
  </body>
</html>
